body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    background: #001821;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}
.main-page-wrapper {
    background: url("./../img/background.jpg") center top no-repeat, url("./../img/background2.jpg") right bottom 165px no-repeat;
}
.container {
    margin: 0 auto;
    width: 1140px;
}

.header {
    height: 120px;
    position: relative;
    margin-bottom: 130px;
}

.logo {
    display: block;
    position: absolute;
    top: 29px;
    left: 0;
}

.menu {
    position: absolute;
    top: 42px;
    left: 250px;
}

.contacts {
    position: absolute;
    top: 27px;
    right: 0;
    font-style: normal;
    text-align: right;
}

.contacts__desc {
    color: #9A9A9A;
    font-size: 11px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 54px;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #DA0100;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
}

.hero__text-section {
    width: 520px;
    margin-bottom: 245px;
}

.hero__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 28px;
}

.hero__subtitle {
    font-size: 18px;
    margin-bottom: 35px;
}

.btn {
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

}

.btn:hover {
    background: #DA0100;
}

.section {
    margin-bottom: 127px;
}

.section__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
}

.offers__item {
    min-height: 450px;
    background: #fff;
    border-radius: 0px 0px 5px 5px;
    display: inline-block;
    margin-right: 20px;
    width: 362px;
    color: #666;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__header {
    min-height: 144px;
    margin-bottom: 33px;
    border-radius: 5px 5px 0px 0px;
}

.offers__content {
    padding: 36px 30px;
}

.offers__title {
    font-weight: bold;
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
}

.offers__feature {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    margin-right: 10px;
}

.offers__feature:last-child {
    margin-right: 0;
}

.offers__text {

    font-size: 14px;
}

.offers__features {
    margin-bottom: 50px;
}

.btn__light {
    border: 1px solid #F5170E;
    background: #FFFFFF;
    color: #F5170E;
    padding: 18px 30px;
}

.btn__light:hover {
    color: #FFFFFF;
    background: #F5170E;
}

.news {
    margin-bottom: 55px;
}

.news__item {
    width: 555px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.news__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__text-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 30px;
    min-height: 140px;
}

.news__date {
    font-size: 14px;
    margin-bottom: 13px;
}

.news__title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.pager {
    text-align: center;
}

.pager__display,
.pager__list {
    display: inline-block;
    vertical-align: middle;
}

.pager__display {
    margin-right: 26px;
}

.pager__item {
    display: inline-block;
    vertical-align: middle;
}

.pager__item--active .pager__link {
    color: #F5170E;
    background: #FFFFFF;
}


.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.pager__link:hover {
    color: #F5170E;
    background: #FFFFFF;
}

.about:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    background: url("./../img/gates.jpg") center center / cover no-repeat;
}

.about__desc {
    display: inline-block;
    vertical-align: top;
    width: 785px;
    min-height: 455px;
    background: url("./../img/mountains.jpg") center center / cover no-repeat;
    margin-left: -142px;
    margin-top: 166px;
    padding: 70px 80px;
}

.about__title {
    font-weight: bold;
    font-size: 36px;
    color: #000;
    margin-bottom: 40px;
}

.about__desc-text {
    margin-bottom: 43px;
    font-size: 16px;
    color: #060606;
}

.about__desc-text p {
    margin-bottom: 20px;
}

.about__desc-text p:last-child {
    margin-bottom: 0;
}

.footer-container__content {
    border-top: 1px solid #fff;
    
}

.footer {
    height: 152px;
    position: relative;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials {
    top: 53px;
    right: 300px;
    position: absolute;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__item--icon--telegram .socials__link {
    background-image: url("./../img/telegram.png");
}

.socials__item--icon--telegram .socials__link:hover {
    background-image: url("./../img/telegram-hover.png");
}

.socials__item--icon--vk .socials__link {
    background-image: url("./../img/vk.png");
}

.socials__item--icon--vk .socials__link:hover {
    background-image: url("./../img/vk-hover.png");
}

.socials__item--icon--fb .socials__link {
    background-image: url("./../img/f.png");
}

.socials__item--icon--fb .socials__link:hover {
    background-image: url("./../img/f-hover.png");
}

.socials__item--icon--instagram .socials__link {
    background-image: url("./../img/in.png");
}

.socials__item--icon--instagram .socials__link:hover {
    background-image: url("./../img/in-hover.png");
}
