body {
  background: #001821;
  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}
body,
html {
  height: 100%;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}

/*----------HEADER----------*/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}
.wrapper__content {
  background: url('./img/background1.jpg') center top no-repeat,
    url('./img/background2.jpg') right -14px bottom 10px no-repeat;
}

.header {
  margin-bottom: 102px;
  align-items: center;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 23px 0;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--alighn--right {
  justify-content: flex-end;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.container--relative {
  position: relative;
}

.logo {
  display: block;
  margin-right: 80px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 51px;
}

.menu__item:last-child {
  margin-right: 0;
}
.menu__item--active {
  color: #da0100;
}
.menu__link {
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.menu__link:hover {
  color: #da0100;
  transition: 0.5s;
  cursor: pointer;
}

.contacts {
  font-style: normal;
  text-align: right;
}

.contacts__phone {
  display: block;
  text-decoration: none;
  font-size: 26px;
  margin-bottom: -2px;
  cursor: pointer;
}
.contacts__phone:hover {
  color: #da0100;
  cursor: pointer;
  transition: 0.5s;
  cursor: pointer;
}
.work{
  position: relative;
}
.work::after{
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 10px;
}
.work__btn{
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  transition: 0.3s all;
  cursor: pointer;
  color: #f5170e;

}
.work__dropdown{
  position: absolute;
  top: 31px;
  right: 0;
  padding: 14px 17px;
  background: bisque;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  width: 157px;
  background: #ededed;
  color: #000;
  font-style: normal;
  font-size: 13px;
  line-height: 21px;
  border-radius: 5px;
  transition: 0.3s;
}
.work__dropdown-triangle{
  position: relative;
}
.work__dropdown-triangle::after{
  content: "";
  position: absolute;
  right: 26px;
  top: -34px;
  border: 10px solid transparent;
  border-bottom: 10px solid #ededed;
}
.work:hover .work__dropdown{
  opacity: 0.8;
  pointer-events: all;
}
.work:hover .work__btn{
  color: #fff;
}
.work__dropdown-up{
  font-weight: bold;
  display: flex;
}
.work__dropdown-down{
  display: flex;
  
}
.contacts__info {
  color: #9a9a9a;
  font-size: 11px;
}

/*----------HELLO SECTION----------*/
.hello__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hello {
  height: 30%;
  margin-bottom: 252px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hello__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.4;
  max-width: 511px;
  margin-bottom: 26px;
}

.hello__text {
  font-size: 18px;
  margin-bottom: 35px;
}

.button {
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background: #f5170e;
  border-radius: 35px;
  padding: 18px 40px;
  max-width: 168px;
}

.button:hover {
  background: #da0100;
  transition: 0.5s;
  cursor: pointer;
}
.button--size--big {
  padding: 18px 58px;
  cursor: pointer;
}
/*----------OFFERS SECTION----------*/

.offers {
  margin-bottom: 127px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 55px;
}

.title--fire:after {
  content: '';
  background-image: url('./img/flame.png');
  width: 21px;
  height: 28px;
  display: inline-block;
  margin-left: 12px;
}
.offers__list {
  display: flex;
  justify-content: space-between;
}
.offers__item {
  min-height: 449px;
  background: #fff;
  border-radius: 5px;
  width: 362px;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__content {
  padding: 30px 22px;
}

.offers__title {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}
.offers__featuers {
  display: flex;
  align-items: center;
}
.offers__feature {
  display: flex;
  color: #666;
  margin-bottom: 27px;
}

.offers__feature-icon {
  display: flex;
  margin-left: 5px;
}

.offers__feature-text {
  display: inline-block;
  position: relative;
  margin-left: 12px;
  margin-top: 2px;
}

.offers__text {
  color: #303030;
  font-size: 14px;
  margin-bottom: 28px;
  line-height: 1.4;
}

.button--light {
  color: #f5170e;
  background: #ffffff;
  border: 1px solid #f5170e;
  padding: 18px 30px;
  max-width: 135px;
  cursor: pointer;
}

.button--light:hover {
  background: #f5170e;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
.button--theme--light {
  color: #f5170e;
  background: #ffffff;
  border: 1px solid #f5170e;
  padding: 18px 40px;
  max-width: 168px;
  cursor: pointer;
}
.button--theme--light:hover {
  background: #f5170e;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
.button--color--black {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #8e8e8e;
  border-radius: 35px;
  padding: 18px 45px;
  cursor: pointer;
}
.button--color--black:hover {
  background: #2b2b2b;
  transition: 0.5s;
  cursor: pointer;
}
.button--color--red {
  color: #fff;
  background: #f5170e;
  padding: 18px 40px;
  cursor: pointer;
}
.button--color--red:hover {
  background: #da0100;
  transition: 0.5s;
  cursor: pointer;
}
/*----------NEWS SECTION----------*/

.title--news {
  margin-bottom: 58px;
}
.news__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}
.single-news {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.news__item {
  width: 557px;
  height: 394px;
  margin-right: 21px;
  flex: 1;
}

.news__item:last-child {
  margin-right: 0;
}

.single-news__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 30px;
  min-height: 140px;
}

.single-news__date {
  font-size: 14px;
}

.single-news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

/*----------PAGINATION----------*/

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
  cursor: pointer;
}
.pagination--theme--light {
  color: #000;
  margin-bottom: 67px;
  cursor: pointer;
}
.pagination--theme--light .pagination__item--active .pagination__number {
  background: #f5170e;
  color: #fff;
}
.pagination--theme--light .pagination__number:hover {
  background: #f5170e;
  color: #fff;
  transition: 0.5s;
}
.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__info {
  margin-right: 26px;
}

.pagination__item {
  text-align: center;
}

.pagination__item--active .pagination__number {
  background: #ffffff;
  color: #f5170e;
}

.pagination__number {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-weight: bold;
  line-height: 32px;
  text-decoration: none;
}

.pagination__number:hover {
  background: #ffffff;
  color: #f5170e;
  transition: 0.5s;
}

/*---------ABOUT SECTION----------*/
.container-flex {
  display: flex;
  align-items: flex-end;
}
.about {
  margin-bottom: 44px;
}

.about__img {
  position: absolute;
  display: flex;
  top: 68px;
  left: 0;
  border-radius: 5px;
}

.about__desc {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 785px;
  min-height: 455px;
  background: url(./img/mountains.jpg) center center / cover no-repeat;
  margin-left: 353px;
  margin-top: 165px;
  padding: 74px 82px;
  border-radius: 5px;
}

.about__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 42px;
  color: #000000;
}

.about__text {
  color: #060606;
  margin-bottom: 39px;
  font-size: 16px;
  line-height: 27px;
  width: 500px;
}

.about__text p {
  margin-bottom: 20px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

/*----------FOOTER----------*/

.footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 152px;
  border-top: 1px solid rgb(255, 255, 255, 0.1);
}
.footer__col {
  display: flex;
  align-items: center;
}
.footer__col--align--right {
  align-items: flex-end;
}
.socials {
  margin-right: 75px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__link--telegram {
  background-image: url('./img/telegram.png');
  cursor: pointer;
}

.socials__link--telegram:hover {
  background-image: url('./img/telegram-hover.png');
  transition: 0.5s;
  cursor: pointer;
}

.socials__link--vk {
  background-image: url('./img/vk.png');
  cursor: pointer;
}

.socials__link--vk:hover {
  background-image: url('./img/vk-hover.png');
  transition: 0.5s;
  cursor: pointer;
}

.socials__link--facebook {
  background-image: url('./img/f.png');
  cursor: pointer;
}

.socials__link--facebook:hover {
  background-image: url('./img/f-hover.png');
  transition: 0.5s;
  cursor: pointer;
}

.socials__link--instagram {
  background-image: url('./img/in.png');
  cursor: pointer;
}

.socials__link--instagram:hover {
  background-image: url('./img/in-hover.png');
  transition: 0.5s;
  cursor: pointer;
}

/*----------SERVICES PAGE----------*/

.top-line {
  min-height: 415px;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  background: url('./img/headline.jpg') right top no-repeat;
}
.top-line__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-line__header {
  padding-top: 9px;
}
.page-title {
  font-size: 72px;
  font-weight: bold;
  margin-top: -135px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__item {
  display: flex;
  align-items: center;
  padding-right: 1px;
}

.breadcrumbs__item--active .breadcrumbs__link {
  font-weight: bold;
}
.breadcrumbs__item:after {
  content: '/';
  padding-left: 1px;
  color: #9a9a9a;
}
.breadcrumbs__item:last-child:after {
  display: none;
}
.breadcrumbs__link {
  color: #9a9a9a;
  font-size: 14px;
  cursor: pointer;
}
.breadcrumbs__link:hover {
  color: #da0100;
  transition: 0.5s;
  cursor: pointer;
}
/* page content */

.page-content {
  background: #fff;
  color: #303030;
  padding: 100px 0 20px 0;
}

.col__services {
  display: flex;
  margin-right: 40px;
}
.services__img {
  width: 460px;
}
.services__content {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.services__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #000;
}
.services__desc {
  color: #303030;
  margin-bottom: 35px;
  min-width: 628px;
  font-size: 16px;
  line-height: 27px;
}
.services__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.col__services {
  display: flex;
}
.col__services--align--right {
  display: flex;
  justify-content: flex-end;
}
/* inner section */

.inner-section {
  background: #fff;
  color: #000;
  padding: 63px 0 86px 0;
  margin-bottom: 20px;
}
.inner-section--bg--grey {
  background: #f4f5f5;
}
.inner-section__title {
  color: #1a1b1e;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 63px;
}
.partners {
  display: flex;
  flex-wrap: wrap;
  margin-left: -46px;
}
.partners__item {
  margin-left: 46px;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 250px;
  height: 100px;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
  margin-bottom: 25px;
  cursor: pointer;
}
.partners__link:hover {
  filter: grayscale(0);
  transition: 0.5s;
  cursor: pointer;
}
.inner-footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 0;
}
.inner-footer {
  margin-top: auto;
}

/*reviews page*/
.reviews {
  column-count: 2;
  column-gap: 30px;
  margin-bottom: 25px;
}
.reviews__item {
  margin-bottom: 17px;
}
.review {
  display: inline-flex;
  flex-direction: column;
  padding: 50px 30px;
  background: #f4f5f5;
}
.review__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.review__photo {
  margin-right: 20px;
}
.review__user {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #2e77a4;
  margin-bottom: 11px;
  cursor: pointer;
}
.review__user:after {
  content: url('./img/vk-blue.png');
  height: 29px;
  margin-left: 10px;
}
.review__user:hover {
  color: #1a8dd4;
  transition: 0.5s;
  cursor: pointer;
}
.avatar {
  width: 140px;
  height: 140px;
  overflow: hidden;
}
.review__tags {
  display: flex;
  align-items: flex-start;
}
.tag {
  font-size: 13px;
  color: #303030;
  padding: 10px 18px;
  border-radius: 50px;
  background: #e7e7e7;
}
.tag--bg--green {
  background: #b9eae4;
}
.review__title {
  color: #1a1b1e;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 23px;
  line-height: 42px;
}
.review__content-text {
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 27px;
}
.review__date {
  font-size: 14px;
  color: #1a1b1e;
  font-weight: bold;
}

/*separator section*/

.separator {
  background: url('./img/couple.png') right 420px bottom no-repeat,
    url('./img/Rectangle.jpg');
  min-height: 365px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.separator__content {
  max-width: 50%;
}
.separator__title {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  line-height: 1.1;
}

/*form*/
.form__row {
  display: flex;
  margin-bottom: 30px;
}
.form__input {
  flex: 1;
  margin-right: 30px;
  border-radius: 4px;
  border: none;
  background: #fff;
  padding: 22px 30px;
  font-size: 18px;
  color: #1a1b1e;
}
.form__input::placeholder {
  color: #666;
}
.form__input:last-child {
  margin-right: 0;
}
.form__input--textarea {
  height: 235px;
}
.form__controls {
  display: flex;
  margin-bottom: 18px;
}
.form__controls-title {
  width: 36%;
  font-size: 18px;
}
.controls {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.controls__item {
  margin-bottom: 10px;
  margin-right: 10px;
}
.controls__elem {
  cursor: pointer;
}
.controls__checkbox:checked ~ .controls__tag {
  background: #b9eae4;
}
.controls__checkbox {
  display: none;
}
.form__btns {
  display: flex;
  justify-content: flex-end;
}
.form__button {
  margin-right: 20px;
}
.form__button:last-child {
  margin-right: 0;
}

/*welcome page*/

.welcome {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url('./img/shades.png') center center no-repeat,
    url('./img/bg.jpg') center bottom / cover no-repeat;
}
.central {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.central__logo {
  margin-bottom: 5px;
}
.central__text {
  margin-bottom: 55px;
}
.central--asia {
  opacity: 0;
  animation: zoom 1s ease-in;
  animation-fill-mode: forwards;
}
@keyframes zoom {
  from {
    transform: scale(0.7);
  }
  20% {
    transform: scale(1.15);
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
